<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- 페이징이동 -->
	<div class="btnAreaList">
		    <div class="allPageMoving1">
			<!-- 첫 페이지 이동 -->
			<a href="event_view?page=${startpage }&e_code=${event_view.e_code }" class="n">
				<img src="../images/btn/btn_pre2.gif" alt="처음으로"/>
			</a>
			<!-- 이전 페이지 이동버튼 -->
			<c:if test="${page <= 1 }">
				<img src="../images/btn/btn_pre1.gif" alt="앞페이지로"/>
			</c:if>
			<c:if test="${page > 1 }">
				<a href="event_view?page=${page - 1 }&e_code=${event_view.e_code }" class="pre">
					<img src="../images/btn/btn_pre1.gif" alt="앞페이지로"/>
				</a>
			</c:if>
			<!-- 순차적으로 페이지 출력 -->
	   	 	<c:forEach var="a" begin="${startpage }" end="${endpage }" step="1">
		   	 	<span class="page_num">
			   	 	<c:choose>
				   	 	<c:when test="${a == page }">
					   	 	<strong id="page_num2">${a}</strong>
				   	 	</c:when>	
				   	 	<c:when test="${a != page }">
					   	 	<a href="event_view?page=${a}&e_code=${event_view.e_code }">${a}</a>
				   	 	</c:when>
			   	 	</c:choose>			   	 		   	 	
		   	 	</span>
	   	 	</c:forEach>
			<!-- 다음 페이지 이동버튼 -->
			<c:if test="${page >= maxpage }">
				<img src="../images/btn/btn_next1.gif" alt="뒤페이지로"/>
			</c:if>
			<c:if test="${page < maxpage }">
				<a href="event_view?page=${page + 1 }&e_code=${event_view.e_code }" class="next">
					<img src="../images/btn/btn_next1.gif" alt="뒤페이지로"/>
				</a>
			</c:if>
			<!-- 마지막 페이지 이동 -->
			<a href="event_view?page=${maxpage }&e_code=${event_view.e_code }" class="n">
				<img src="../images/btn/btn_next2.gif" alt="마지막페이지로"/>
			</a>
		</div>
	</div>

				html += '<div class="allPageMoving1">';
				html += `페이지 <a href="event_view?page=${startpage }&e_code=${e_code }" class="n">`;
				html += '<img src="../images/btn/btn_pre2.gif" alt="처음으로" /></a>';
				html += `<c:if test="${page <= 1 }">`;
				html += '<img src="../images/btn/btn_pre1.gif" alt="앞페이지로" />';
				html += `</c:if>`;
				html += `<c:if test="${page > 1 }">`;
				html += '<a href="event_view?page=' + ${page - 1 } + '&e_code=' + ${event_view.e_code } + '"class="pre">';
				html += '<img src="../images/btn/btn_pre1.gif" alt="앞페이지로" /></a>';
				html += `</c:if>`;
				html += `<c:forEach var="a" begin="${startpage }" end="${endpage }" step="1">`;
				html += '<span class="page_num">';
				
				html += '<c:choose>';
				html += `<c:when test="${a == page }">`;
				html += '<strong id="page_num2">' + ${a} + '</strong>';
				html += `</c:when>`;
				html += `<c:when test="${a != page }">`;
				html += '<a href="event_view?page=' + ${a} + '&e_code=' + ${event_view.e_code } + '">' + ${a} + '</a>';
				html += `</c:when>`;
				html += `</c:choose>';
				
				html += '</span>';
				html += `</c:forEach>`;
				
				html += `<c:if test="${page >= maxpage }">`;
				html += '<img src="../images/btn/btn_next1.gif" alt="뒤페이지로"/>';
				html += `</c:if>`;
				
				html += `<c:if test="${page < maxpage }">`;
				html += '<a href="event_view?page=' + ${page + 1 } + '&e_code=' + ${event_view.e_code } + '" class="next">';
				html += '<img src="../images/btn/btn_next1.gif" alt="뒤페이지로"/></a>';
				html += `</c:if>`;
				
				html += '<a href="event_view?page=' + ${maxpage } + '&e_code=' + ${event_view.e_code } + '" class="n">';
				html += '<img src="../images/btn/btn_next2.gif" alt="마지막페이지로"/></a>';
				html += '</div>';


html += `페이지 <a href="event_view?page=${ data.startpage }&e_code=${ data.e_code }" class="n">`;
				html += '<img src="../images/btn/btn_pre2.gif" alt="처음으로" /></a>';

<!-- asdasd -->
html += '<div class="allPageMoving1">';
				html += `페이지 <a href="event_view?page=\${data.startpage }&e_code=\${data.e_code }" class="n">`;
				html += '<img src="../images/btn/btn_pre2.gif" alt="처음으로" /></a>';
				html += `<c:if test="\${data.page <= 1 }">`;
				html += '<img src="../images/btn/btn_pre1.gif" alt="앞페이지로" />';
				html += `</c:if>`;
				html += `<c:if test="\${data.page > 1 }">`;
				html += `<a href="event_view?page=\${data.page - 1 }&e_code=\${data.e_code }"class="pre">`;
				html += '<img src="../images/btn/btn_pre1.gif" alt="앞페이지로" /></a>';
				html += `</c:if>`;
				html += `<c:forEach var="a" begin="\${data.startpage }" end="\${data.endpage }" step="1">`;
				html += '<span class="page_num">';
				
				html += '</span>';
				html += `</c:forEach>`;
				
				html += '</div>';

<!-- 12312312321312313 -->

html += '<div class="allPageMoving1">';
				html += '<a href="event_view?page=' + startpage + '&e_code=' +e_code + '" class="n">';
				html += '<img src="../images/btn/btn_pre2.gif" alt="처음으로" /></a>';
				html += `<c:if test="\${data.page <= 1 }">`;
				html += '<img src="../images/btn/btn_pre1.gif" alt="앞페이지로" />';
				html += `</c:if>`;
				html += `<c:if test="\${data.page > 1 }">`;
				html += `<a href="event_view?page=\${data.page - 1 }&e_code=\${data.e_code }"class="pre">`;
				html += '<img src="../images/btn/btn_pre1.gif" alt="앞페이지로" /></a>';
				html += `</c:if>`;
				html += `<c:forEach var="a" begin="\${data.startpage }" end="\${data.endpage }" step="1">`;
				html += '<span class="page_num">';
				
				html += '</span>';
				html += `</c:forEach>`;
				
				html += '</div>';







<!-- 페이징이동 -->
					<div class="btnAreaList">
						<div class="allPageMoving1" id="ajaxPaging">
							<!-- 첫 페이지 이동 -->
							<a href="event_view?page=${startpage }&e_code=${event_view.e_code }" class="n">
								<img src="../images/btn/btn_pre2.gif" alt="처음으로"/>
							</a>
							<!-- 이전 페이지 이동버튼 -->
							<c:if test="${page <= 1 }">
								<img src="../images/btn/btn_pre1.gif" alt="앞페이지로"/>
							</c:if>
							<c:if test="${page > 1 }">
								<a href="event_view?page=${page - 1 }&e_code=${event_view.e_code }" class="pre">
									<img src="../images/btn/btn_pre1.gif" alt="앞페이지로"/>
								</a>
							</c:if>
							<!-- 순차적으로 페이지 출력 -->
					   	 	<c:forEach var="a" begin="${startpage }" end="${endpage }" step="1">
						   	 	<span class="page_num">
							   	 	<c:choose>
								   	 	<c:when test="${a == page }">
									   	 	<strong id="page_num2">${a}</strong>
								   	 	</c:when>	
								   	 	<c:when test="${a != page }">
									   	 	<a href="event_view?page=${a}&e_code=${event_view.e_code }">${a}</a>
								   	 	</c:when>	
							   	 	</c:choose>			   	 		   	 	
						   	 	</span>
					   	 	</c:forEach>
							<!-- 다음 페이지 이동버튼 -->
							<c:if test="${page >= maxpage }">
								<img src="../images/btn/btn_next1.gif" alt="뒤페이지로"/>
							</c:if>
							<c:if test="${page < maxpage }">
								<a href="event_view?page=${page + 1 }&e_code=${event_view.e_code }" class="next">
									<img src="../images/btn/btn_next1.gif" alt="뒤페이지로"/>
								</a>
							</c:if>
							<!-- 마지막 페이지 이동 -->
							<a href="event_view?page=${maxpage }&e_code=${event_view.e_code }" class="n">
								<img src="../images/btn/btn_next2.gif" alt="마지막페이지로"/>
							</a>
						</div>
					</div>
					<!-- //페이징이동 -->



</body>
</html>