/*  '*' for Chrome, 'body' for Edge */
*{
	margin: 0;
	padding: 0;
	font-family: 돋움, sans-serif;
	font-size: 18px;
}

ul, li {
	list-style: none;
	
}

a {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}

a:link, a:visited, a:hover, a:active {
	color: #666;
	text-decoration: none;
}



h2 {
	margin: 0px;
	padding: 0px;
	font-family: "돋움", verdana;
	font-size: 12px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align: middle
}
/* Header */
header {
	height: 50px;
	background: #3d3d3d;
	color: #e7e7e7;
	font-weight: bold;
}

 .header_table {
	display: inline-block;
	position: relative;
	top: 8px;
	border: 1px solid white;
	border-collapse: collapse;
	background: #6a7176;
	height: 24px;
}

 .header_table td {
	position: relative;
	top: -11px;
	padding-left: 3px;
}



/* Nav */
nav {
	display: inline-block;
	padding-left:50px;
	line-height:50px;
	width: 100%;
	height: 50px;
	background: #7b7b7b;
	color: white;
}


/*  본문 시작  */
#wrap {
	width: 200px;
	border: 0px #ed5f00 solid;
}

#container {
	margin-top: 50px;
	border: 0px #ed5f00 solid;
	position: relative;
	width: 100%;
	min-height: 800px;
	border: 0px #ed5f00 solid;
}
/* 좌측 메뉴 시작*/
#LeftArea {
	top: 0;
	left: 0;
	display: block;
	width: 200px;
	height: 100%;
	margin: 0 0px 0 0;
	padding: 0;
	overflow: visible;
	border-right: 1px #c9c9c9 solid;
	border-bottom: 0px #c9c9c9 solid;
	
}

#LeftArea h2 em.cate0 {
	background: url(../images/icon_cate0.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate1 {
	background: url(../images/icon_cate1.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate2 {
	background: url(../images/icon_cate2.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate3 {
	background: url(../images/icon_cate3.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate4 {
	background: url(../images/icon_cate4.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate5 {
	background: url(../images/icon_cate5.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate6 {
	background: url(../images/icon_cate6.png) 0 0 no-repeat;
	
}

#LeftArea h2 em.cate7 {
	background: url(../images/icon_cate7.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate8 {
	background: url(../images/icon_cate8.png) 0 0 no-repeat;
}

#LeftArea h2 em.cate9 {
	background: url(../images/icon_cate9.png) 0 0 no-repeat;
}

#LeftArea ul.menu>li {
	padding: 0;
	margin: 0;
	border-bottom: 1px #c9c9c9 solid;
	background-color: #ebebeb;
}

#LeftArea ul.menu>li a {
	display: block;
	padding: 12px 0 8px 20px;
	font-weight: bold;
}

#LeftArea ul.menu>li a span.icon-list-plus {
	display: inline-block;
	vertical-align: middle;
	float: right;
	width: 8px;
	height: 8px;
	margin: 5px 10px 0 0;
	font-size: 0;
	background: url(../images/btn_plus.png) 0 0 no-repeat;
}

#LeftArea ul.menu>li.on a span.icon-list-plus {
	background-position: 0 -8px;
}

#LeftArea ul.menu>li a span.icon-list-minus {
	display: inline-block;
	vertical-align: middle;
	float: right;
	width: 8px;
	height: 8px;
	margin: 5px 10px 0 0;
	font-size: 0;
	background: url(../images/btn_minus.png) 0 0 no-repeat;
}

#LeftArea ul.menu>li.on a span.icon-list-minus {
	background-position: 0 -8px;
}

#LeftArea ul.menu>li.on {
	background-color: #9f9f9f;
}

#LeftArea ul.menu>li.on a {
	background-color: #9f9f9f;
	color: #fff;
}

#LeftArea ul>li:hover a {
	
}

#LeftArea ul.menu>.submenu {
	padding: 15px 0 15px 0;
	background: #fff;
	border-bottom: 1px #c9c9c9 solid;
}

#LeftArea ul.menu>.submenu li {
	line-height: 22px;	
	text-align: left;
}

#LeftArea ul.menu>.submenu li a {
	color: #666;
	font-weight: normal;
	padding: 0 0 0 15px;
	margin: 0;
}

#LeftArea ul.menu>.submenu li.on a, #LeftArea ul.menu>.submenu li a:hover
	{
	text-decoration: underline;
	color: #f15755;
}

#LeftArea ul.menu>.submenu .Bline {
	margin-left: 5px;
	width: 90%;
	border-bottom: 1px dotted #7b7b7b !important;
	line-height: 10px !important;
}
/* 좌측 메뉴  끝*/

/* 좌측메뉴 닫기*/
.leftmemu_close_off {
	width: 20px;
	height: 36px;
	background: url(../images/leftmemu_close_off.png) 0 0 no-repeat;
}

.leftmemu_close_on {
	width: 20px;
	height: 36px;
	background: url(../images/leftmemu_close_on.png) 0 0 no-repeat;
}

.submemu_close_off {
	width: 20px;
	height: 35px;
	background: url(../images/submemu_close_off.png) 0 0 no-repeat;
}

.submemu_close_on {
	width: 20px;
	height: 35px;
	background: url(../images/submemu_close_on.png) 0 0 no-repeat;
}
/* 좌측메뉴 닫기 */