@charset "UTF-8";

.discount {width:50px; }

.dis_price{width:70px;}

#persent, #price, #cou_exp_div, #cou_exp_div2, #benefit_max{display: inline;}

.coupon_table {border-collapse: collapse;}

.coupon_name {width: 400px;}

.coupon_table tr td *{font-size: 14px; }
.coupon_table tr td:nth-child(1){width: 162px; font-size: 14px;}
.coupon_table tr td:nth-child(2){width: 1100px;}

.notice{font-size: 13px; line-height: 100%;}

.submit_tr {text-align: right; margin-top: 5px;}

table select { height: 21px; font-size: 14px;}

.coupon_div {width: 1100px; text-align: left; padding: 10px;}