@charset "UTF-8";
#whole_content_wrap {
	width: 1216px;
	height: 1075px;
	padding: 70px 0 140px;
	margin: 0 auto;
}

#top_menu {
	width: 1180px;
	height: 127px;
}

#top_menu h2 {
	font-size: 40px;
	line-height: 56px;
	font-weight: bold;
	color: #101010;
	border-bottom: 1px solid #e0e0e0;
}

/** 컨텐츠 상단**/
#content_top {
	display: inline-block;
	width: 1180px;
	height: 200px;
}

#list_notice {
	width: 500px;
	height: 121px;
	padding-top: 48px;
	position: relative;
}

#list_notice h2 {
	font-size: 24px;
	line-height: 42px;
	font-weight: bold;
	color: #101010;
	letter-spacing: -2px;
}

#list_notice p {
	font-size: 16px;
	font-weight: bold;
	line-height: 27px;
	padding-top: 4px;
	letter-spacing: -2px;
}

/**메뉴 정렬**/
#list_sort {
	float: right;
	width: 450px;
	position: relative;
	top: -40px;
}

#list_sort ul {
	list-style-type: none;
}

#list_sort ul li {
	float: left;
	font-size: 8px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: -2px;
}

#list_sort ul li:before {
	content: "ㅣ"
}

#list_sort ul li input {
	display: none;
}

#list_sort ul li label:active {
	transition: all 1s;
	border-bottom: 1px solid black;
}

#list_sort ul li label:active:before {
	content: "∨"
}

/** 제품 리스트**/
#product_list {
	width: 1216px;
	height: 1560px;
}

#product_list ul {
	list-style-type: none;
	width: 100%;
	height: 1540px;
	margin-top: -80px;
	margin-left: -36px;
	padding-left: 0px;
}

#product_list ul li {
	float: left;
	width: 268px;
	height: 568px;
	margin-top: 80px;
	margin-left: 34px;
}

#item_image1 {
	width: 268px;
	height: 320px;
	background: url('../images/item01.jpg') no-repeat;
}

.item_text_wrap {
	width: 268px;
	height: 144px;
	padding-top: 16px;
}

.item_flag {
	width: 267px;
	height: 20px;
	padding-bottom: 12px;
}

.item_flag span {
	display: block;
	width: 48px;
	height: 18px;
	background-color: #BDD61A;
	line-height: 15px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.item_info {
	height: 28px;
	padding-top: 8px;
}

.first {
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	color: #606060;
	font-weight: bold;
}

.rest {
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	color: #606060;
	font-weight: bold;
}

.rest:before {
	content: "ㅣ"
}

.item_name span {
	font-size: 17px;
	color: #101010;
	font-weight: bold;
	line-height: 24px;
}

.item_price {
	padding-top: 8px;
}

.price_name {
	margin-right: 5px;
	color: #EE0700;
	font-size: 18px;
	line-height: 27px;
	font-weight: bold;
}

.price {
	font-size: 18px;
	color: #101010;
	line-height: 27px;
	font-weight: bold;
}

.price_hide {
	padding-left: 6px;
	color: #606060;
	font-size: 13px;
	font-weight: bold;
	line-height: 21px;
	text-decoration: line-through;
}
/**별점**/
.item_review {
	margin-top: 8px;
	position: relative;
}

.star {
	display: inline-block;
	width: 88px;
	height: 16px;
	background: url('../images/ico_set2.png') -373px -27px no-repeat;
	background-size: 800px 800px;
}

.rating_star1 {
	display: inline-block;
	width: 94%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}

.reviw_num {
	font-size: 14px;
	position: relative;
	top: -5px;
}

.reviw_num:before {
	content: "ㅣ"
}

/** 좋아요, 카트**/
.item_buttons {
	height: 40px;
	margin-top: 24px;
}

.item_buttons button {
	border: none;
	cursor: pointer;
}

.btn_interest {
	width: 40px;
	height: 40px;
	background: url('../images/ico_set.png') -0px -190px no-repeat;
	background-size: 800px 800px;
}

.btn_cart {
	margin-left: 10px;
	width: 40px;
	height: 40px;
	background: url('../images/ico_set.png') -45px -190px no-repeat;
	background-size: 800px 800px;
}

/** 추가제품들**/
#item_image2 {
	width: 268px;
	height: 320px;
	background: url('../images/item02.jpg') no-repeat;
}

#rating_star2 {
	display: inline-block;
	width: 86%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}

#item_image3 {
	width: 268px;
	height: 320px;
	background: url('../images/item03.jpg') no-repeat;
}

#rating_star3 {
	display: inline-block;
	width: 96%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}

#item_image4 {
	width: 268px;
	height: 320px;
	background: url('../images/item04.jpg') no-repeat;
}

#rating_star4 {
	display: inline-block;
	width: 93%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}

#item_image5 {
	width: 268px;
	height: 320px;
	background: url('../images/item05.jpg') no-repeat;
}

#rating_star5 {
	display: inline-block;
	width: 0%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}

#item_image6 {
	width: 268px;
	height: 320px;
	background: url('../images/item06.jpg') no-repeat;
}

#rating_star6 {
	display: inline-block;
	width: 0%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}

#item_image7 {
	width: 268px;
	height: 320px;
	background: url('../images/item07.jpg') no-repeat;
}

#rating_star7 {
	display: inline-block;
	width: 80%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}

#item_image8 {
	width: 268px;
	height: 320px;
	background: url('../images/item08.jpg') no-repeat;
}

#rating_star8 {
	display: inline-block;
	width: 100%;
	height: 16px;
	position: relative;
	top: -3px;
	background: url('../images/ico_set2.png') -373px -1px no-repeat;
	background-size: 800px 800px;
}