@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 돋움, sans-serif;}

section {width:1500px; height:850px; margin:30px auto; margin-left:230px; }
section p{font-size: 30px; font-weight: bold; margin-bottom: 30px;}


#noticeContent{width:1400px; height:820px; }

p{font-size: 24px; font-weight: bold; margin-bottom: 20px;}

#notice_list{width: 1400px;}
.notice_conts .tb_row th {
	font-size: 13px;
	line-height: 23px;
	color: #101010;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	padding: 12px 24px;
	
}

.searching{width:1500px; text-align: center; margin-bottom: 50px;}
.searching select{width: 70px; height: 25px; line-height: 15px;}

.tb_row {margin: 0 auto;}
.tb_row th {
	background: #F2F2F2;
	color: #606060;
	font-weight: 500;
	vertical-align: middle;
	text-align: left;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 24px;
}

a {
	color: inherit;
	text-decoration: none;
}
.notice_tr{cursor: pointer;}

.tb_row{width: 1500px; height: 650px;}

 table{margin: 0 auto;}

.tb_row td {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #606060;
	padding: 12px 24px;
	border-bottom: 2px solid #F2F2F2;
}

#notice_content{text-align: left;}
#notice_content{text-align: center;}


#pagination {margin:0 auto; height:30px;text-align: center;}
#pagination li{float: left;}
#paging{list-style-type: none; }
.pata_else{width:30px; height:25px; float: left; cursor: pointer; color:black;font-weight:600; padding-top: 5px; text-align: center; margin-right: 5px;}
.pata_else1{width:40px; height:25px; float: left; cursor: pointer; 	font-weight:600;padding-top: 5px; color:black; margin-right: 5px; text-align: center;}


#write_notice {
	float: right;
}

#write_notice button {
	width: 100px; height: 50px; background-color: #666; color: white; border-radius: 10px; cursor: pointer;
	margin-top: 10px;
}