@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
section{width:1550px; height:850px; margin: 30px auto; margin-left:230px; text-align: center; border: 1px dashed black;}

.main_articles{float:left; width: 700px; height: 400px; border: 1px dashed black; margin-left: 50px; margin-bottom: 50px;}